<ion-header class="ion-no-border" style="--background: indigo;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Announcements</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="bookmarks-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="posts.length > 0; else noPosts" class="content">
    <div *ngFor="let post of posts" class="posts">
      <div class="post_header">
        <div class="person">
          <img [src]="post.profile_picture || '../../assets/images/profil.png'" alt="person">
        </div>
        <div class="person_details">
          <div class="name">{{ post.office }}</div>
          <div class="time">{{ post.created_at | dateAgo }} <span>•</span> <ion-icon name="trending-down-sharp"></ion-icon></div>
        </div>
      </div>

      <div class="text">
        <p>{{ post.posts }}</p>
      </div>

      <div class="image" *ngIf="post.image_path">
        <img [src]="post.image_path" alt="post image">
      </div>

      <div class="post_footer">
        <ion-button class="like_button" shape="round" size="default" (click)="likePost(post.postId)">
          <ion-icon 
            [name]="post.hasLiked ? 'heart' : 'heart-outline'" 
            [style.color]="post.hasLiked ? 'indigo' : 'default'" 
            style="font-weight: bold;" 
            slot="start">
          </ion-icon>
          {{ post.likes > 0 ? post.likes : '' }}
        </ion-button>

        <ion-button class="comment_button" shape="round" size="default" (click)="openComments(post.postId)">
          <ion-icon style="font-weight: bold;" slot="start" name="chatbubble-outline"></ion-icon>
          {{ post.comment_count > 0 ? post.comment_count : '' }}
        </ion-button>
      </div>
    </div>
  </div>

  <ng-template class="no-posts-template" #noPosts>
    <div class="no-posts-container">
      <img src="../../assets/images/timetable.jpg" alt="No Notifications">
      <p>No posts available</p>
    </div>
  </ng-template>
</ion-content>
