<ion-header class="ion-no-border" style="--background: indigo;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-buttons style="font-size: 20px;" slot="end">
      <ion-button style="font-size: 20px;"><ion-icon style="font-size: 20px;" name="attach-outline"></ion-icon></ion-button>
      <ion-button style="font-size: 20px;" (click)="sendConcern()"><ion-icon style="font-size: 20px;" name="send-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list" lines="none">
    <ion-item>
      <ion-label>From<span> {{ fromStudent }}</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>To<span> SRC</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="subject" label="Subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="message" placeholder="Write message" auto-grow="true"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openMessagesModal()">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>
