<ion-header style="--background: indigo;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Faculty of Engineering</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- First Image -->
  <ion-img src="assets/images/engin.png" alt="Engineering Faculty Image"></ion-img>

  <!-- First Text Section -->
  <ion-card>
    <ion-card-content>
      <p>Welcome to the Faculty of Engineering at MUT! We take pride in offering a comprehensive range of engineering programmes designed to empower our students with the knowledge, skills, and practical experience necessary to tackle real-world challenges in today’s rapidly evolving technological landscape.</p>
      <p>With a rich history of academic excellence, our faculty is home to five distinguished departments: Chemical Engineering, Civil Engineering and Survey, Electrical Engineering, Mechanical Engineering, and Building and Construction. Each department is committed to fostering a stimulating learning environment that nurtures innovation, creativity, and critical thinking.</p>
      <p>In the Department of Chemical Engineering, students delve into the fascinating world of chemical processes, discovering how to design and optimise industrial systems, create sustainable solutions, and apply principles of chemistry and physics to tackle global issues.</p>
      <p>The Department of Civil Engineering and Survey equips students with the expertise to shape the physical infrastructure of the society. From designing sustainable buildings and transportation systems, to managing construction projects, our students gain the skills necessary to create sustainable and resilient urban environments.</p>
      <p>The Department of Electrical Engineering prepares students for a dynamic career in an increasingly interconnected world. Through comprehensive coursework and hands-on experience, students learn to design, develop, and maintain electrical systems, ranging from power generation and distribution, to advanced communication networks.</p>
    </ion-card-content>
  </ion-card>

  <!-- Second Image -->
  <ion-img src="assets/images/eng.png" alt="Engineering Innovation Image"></ion-img>

  <!-- Second Text Section -->
  <ion-card>
    <ion-card-content>
      <p>In the Department of Mechanical Engineering, students explore the principles of mechanics and materials to develop innovative solutions that drive technological advancements. From designing cutting-edge machinery to optimising energy systems, our students gain the expertise to contribute to various industries.</p>
      <p>In the Department of Building and Construction, students delve into the intricate world of construction engineering and quantity surveying. They learn to integrate various engineering disciplines, manage large-scale projects, draft blueprints, and liaise with architects. Beyond technical expertise, they’re equipped with managerial skills, from budgeting to ensuring industry safety standards. The curriculum also covers the nuances of preparing a Bill of Quantities, interpreting drawings, and mastering construction finishes. Graduates emerge ready to tackle diverse challenges in the construction sector.</p>
      <p>Our faculty boasts an exceptional team of dedicated professors and researchers who are at the forefront of their respective fields. They are committed to providing a stimulating and supportive learning environment, nurturing the talents of our students and encouraging them to reach their full potential.</p>
      <p>At MUT the Faculty of Engineering emphasizes a practical approach to education, complementing theoretical knowledge with hands-on experience in state-of-the-art laboratories and workshops. Through internships and industry partnerships, our students gain valuable exposure to real-world engineering, ensuring they are well-prepared for the demands of the professional world upon graduation.</p>
    </ion-card-content>
  </ion-card>
  
  <a href="assets/prospects/2024-Natural-Sciences-prospectus.pdf" download class="download-button">DOWNLOAD PROSPECTUS</a>

  
  <!-- Contact Details Section -->
  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Contact Details <ion-icon class="dep_head" name="call-sharp"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none" id="list">
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Dean</h3>
            <p>Prof F Bakare</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 907 7224</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Senior Secretary</h3>
            <p>Ms ND Khumalo</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 907 7236</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Officer</h3>
            <p>Ms SP Mthembu</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 907 7172</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
