<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="notifications-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="unreadNotifications.length > 0" id="list-card">
    <ion-card-header>
      <ion-card-title>New Notifications <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-list lines="none" id="list">
      <ion-item *ngFor="let notification of unreadNotifications" detail="true" (click)="handleNotificationRead(notification.notificationId)"> <!--Post notifications-->
        <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
        <ion-label class="post-details">
          <h3>{{ notification.title }}</h3>
          <p>From <span class="post-from">{{ getOfficeName(notification.fromOffice) }}</span> • <span class="time-posted">{{ notification.createdAt | dateAgo }}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="readNotifications.length > 0" id="list-card">
    <ion-card-header>
      <ion-card-title>Opened Notifications <ion-icon class="dep_head" name="pulse-sharp"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-list lines="none" id="list">
      <ion-item *ngFor="let notification of readNotifications" class="read" detail="true" (click)="handleNotificationRead(notification.notificationId)"> <!--Opened post notifications-->
        <ion-icon class="notifications-icon" name="notifications-circle-sharp"></ion-icon>
        <ion-label class="post-details">
          <h3>{{ notification.title }}</h3>
          <p>From <span class="post-from">{{ getOfficeName(notification.fromOffice) }}</span> • <span class="time-posted">{{ notification.createdAt | dateAgo }}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <div *ngIf="noNotifications" class="no-notifications">
    <img src="../../assets/images/timetable.jpg" alt="No Notifications">
    <p>No notifications available</p>
  </div>
</ion-content>
