<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Navigation</ion-title>
    <ion-buttons slot="end">
      <ion-button class="top-button" shape="round" id="search"> <ion-icon name="search-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    <div class="neighborhood-discovery">
      <ion-searchbar 
        placeholder="Search nearby places" 
        class="place-search-input"
        (ionInput)="searchPlaces($event)"></ion-searchbar>
        
      <div class="places-panel panel no-scroll">
        <div class="results">
          <ul class="place-results-list"></ul>
        </div>
        <ion-button expand="full" class="show-more-button sticky">
          <span>Show More</span>
          <ion-icon slot="end" name="chevron-down"></ion-icon>
        </ion-button>
      </div>

      <div class="details-panel panel"></div>
      <div class="map"></div>
      
      <div class="photo-modal">
        <img alt="place photo" />
        <div>
          <ion-button class="back-button">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
          <div class="photo-text">
            <div class="photo-place"></div>
            <div class="photo-attrs">Photo by <span></span></div>
          </div>
        </div>
      </div>

      <svg class="marker-pin" xmlns="http://www.w3.org/2000/svg" width="26" height="38" fill="none">
        <path d="M13 0C5.817 0 0 5.93 0 13.267c0 7.862 5.59 10.81 9.555 17.624C12.09 35.248 11.342 38 13 38c1.723 0 .975-2.817 3.445-7.043C20.085 24.503 26 21.162 26 13.267 26 5.93 20.183 0 13 0Z"/>
      </svg>
    </div>
  </ion-content>

  <script>
    const CONFIGURATION = {
      "capabilities": {"search": true, "distances": true, "directions": true, "contacts": true, "atmospheres": true, "thumbnails": true},
      "pois": [
        {"placeId": "ChIJnZ4mUL-s9x4R6lxgyUT87TA"},
        {"placeId": "ChIJ0XBMUbas9x4RIDdg1t3QfcU"},
        {"placeId": "ChIJa5jG-Zet9x4Rtbu-OX5sJUA"},
        {"placeId": "ChIJv3S_17is9x4RYA44qjX7ZKM"},
        {"placeId": "ChIJLwew2bis9x4RHi59MnVoH40"},
        {"placeId": "ChIJlzz2pL6s9x4RpiRQzRd8e0Q"},
        {"placeId": "ChIJQ9-J876s9x4R45kOYgbywKM"},
        {"placeId": "ChIJGxjo4-qt9x4RMHYFH1Kb_Cw"}
      ],
      "centerMarker": {"icon": "circle"},
      "mapRadius": 500,
      "mapOptions": {"center": {"lat": -29.9698091, "lng": 30.91327739999999}, "fullscreenControl": true, "mapTypeControl": true, "streetViewControl": false, "zoom": 16, "zoomControl": true, "maxZoom": 20, "mapId": ""},
      "mapsApiKey": "YOUR_API_KEY_HERE"
    };

    function initMap() {
      new NeighborhoodDiscovery(CONFIGURATION);
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY_HERE&callback=initMap&libraries=places,geometry" async defer></script>

  
</ion-content>