<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Time Table</ion-title>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="calendar-clear-sharp"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="card">
    <img src="../../assets/images/timetable.jpg" />
    <ion-card-header>
      <ion-card-title style="text-align: center; color: #ccc;">No Timetable Available</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-fab class="add" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
