<ion-content [fullscreen]="true">
  <ion-card id="card">
    <img alt="Silhouette of mountains" src="../../assets/images/loginRegister.jpg"/>
  </ion-card>
  <div class="text">
    <h1>Explore MUT Campus App</h1>
    <p>Ready to unlock the full potential of your campus experience? Login or check in as guest now to access exclusive features and stay connected with the MUT community.</p>
  </div>
  <ion-button class="button" shape="round" id="login-opt" expand="block" routerLink="/login">Login</ion-button>
  <ion-button class="button" shape="round" expand="block" (click)="guestLogin()">Access As Guest</ion-button>

  <!-- Modal for Login -->
  <ion-modal
    trigger="login-opt"
    [initialBreakpoint]="0.50"
    [breakpoints]="[0.50]"
    handleBehavior="cycle"
    style="--border-radius: 17px;"
  >
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-card id="list-card" *ngIf="isStudentFormVisible">
          <ion-card-header>
            <ion-card-title style="color: gray;">Sign In.</ion-card-title>
            <ion-card-subtitle>Please enter your credentials !</ion-card-subtitle>
          </ion-card-header>
        
          <ion-list lines="none" id="list">
            <form (ngSubmit)="login()">
              <ion-item>
                <ion-input label="Email" type="email" [(ngModel)]="email" name="email" placeholder="22113111@live.mut.ac.za" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Password" type="password" [(ngModel)]="password" name="password" required></ion-input>
              </ion-item>
              <ion-button shape="round" expand="full" type="submit">Login</ion-button>
            </form>
            <ion-button fill="outline" style="--background: transparent; color: gray; font-weight: bold; --border-color: indigo; width: 25%; text-align: center; align-items: center; justify-content: center; display: flex;"  id="login-admin" size="small" (click)="toggleForm()">
              Admin
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-list>
        </ion-card>

        <!-- Admin Login Form (Initially Hidden) -->
        <ion-card id="list-card" *ngIf="!isStudentFormVisible">
          <ion-card-header>
            <ion-card-title style="color: gray;">Admin Sign In.</ion-card-title>
            <ion-card-subtitle>Please enter your password !</ion-card-subtitle>
          </ion-card-header>
        
          <ion-list lines="none" id="list">
            <form (ngSubmit)="adminLogin()">
              <ion-item>
                <ion-input label="Password" type="password" [(ngModel)]="password" name="password" required></ion-input>
              </ion-item>
              <ion-button shape="round" expand="full" type="submit">Login</ion-button>
            </form>
          </ion-list>

          <!-- Button to switch back to student login -->
          <ion-button fill="outline" style="--background: transparent; color: gray; font-weight: bold; --border-color: indigo; width: 25%; text-align: center; align-items: center; justify-content: center; display: flex;"  id="login-student" size="small" (click)="toggleForm()">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Student
          </ion-button>
        </ion-card>
        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>