<ion-header style="--background: indigo;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Faculty of Natural Sciences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- First Image -->
  <ion-img src="assets/images/natur.png" alt="Natural Sciences Faculty Image"></ion-img>

  <!-- First Text Section -->
  <ion-card>
    <ion-card-content>
      <p>Our Faculty of Natural Sciences is dedicated to exploring the wonders of the natural world through a diverse range of departments. With programmes in Agriculture, Biomedical Sciences, Chemistry, Community Extension, Environmental Health, Information and Communication Technology, and Nature Conservation, the faculty offers comprehensive education and research opportunities in various scientific disciplines.</p>
      <p>In the Department of Agriculture, students delve into the principles of crop production, animal husbandry, and sustainable farming practices. Through hands-on experience and theoretical knowledge, they develop the skills needed to address challenges in food security and agricultural innovation.</p>
      <p>The Department of Biomedical Sciences focuses on understanding the human body and its intricate systems. Students gain insights into areas such as human anatomy, physiology, pathology, and medical laboratory techniques, preparing them for careers in healthcare, research, and diagnostics.</p>
      <p>In the Department of Chemistry, students explore the fundamental principles of matter, chemical reactions, and laboratory techniques. From organic chemistry to analytical methods, students gain a strong foundation to contribute to various scientific and industrial applications.</p>
      <p>The Department of Community Extension emphasizes the importance of community development and engagement. Students learn how to implement sustainable initiatives, foster social change, and empower communities through education and outreach programmes.</p>
    </ion-card-content>
  </ion-card>

  <!-- Second Image -->
  <ion-img src="assets/images/nat.png" alt="Natural Sciences Office Image"></ion-img>

  <!-- Second Text Section -->
  <ion-card>
    <ion-card-content>
      <p>In the Department of Environmental Health, students study the impact of the environment on human health. They learn to assess, monitor, and manage environmental factors that may pose risks, contributing to the well-being of individuals and communities.</p>
      <p>The Department of Information and Communication Technology equips students with cutting-edge skills in computer science, programming, network administration, and software development. Students gain the expertise to drive technological advancements and address the digital needs of industries and organizations.</p>
      <p>The Department of Nature Conservation focuses on preserving and managing natural resources. Students explore biodiversity, conservation strategies, and ecological sustainability, preparing them for careers in environmental management and conservation.</p>
      <p>At MUT’s Faculty of Natural Sciences, faculty members are passionate about scientific discovery and are committed to providing a stimulating and supportive learning environment. Through state-of-the-art laboratories, research opportunities, and practical experiences, students gain the knowledge and skills to make a positive impact upon the world.</p>
    </ion-card-content>
  </ion-card>
  
  <a href="assets/prospects/2024-Natural-Sciences-prospectus.pdf" download class="download-button">DOWNLOAD PROSPECTUS</a>
  
  <!-- Contact Details Section -->
  <ion-card id="list-card">
    <ion-card-header>
      <ion-card-title>Contact Details <ion-icon class="dep_head" name="call-sharp"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none" id="list">
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Dean</h3>
            <p>Dr BA Ntshangase</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27(31) 9077220</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Senior Secretary</h3>
            <p>Mrs M Govender</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 907 7128</p>
          </ion-label>
        </ion-item>
        <ion-item class="custom-detail-icon" detail="true">
          <ion-label>
            <h3>Faculty Officer</h3>
            <p>Mr K.R. Quilie</p>
          </ion-label>
          <ion-label>
            <h3>Tel No</h3>
            <p>+27 31 907 7452</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
