<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Sports</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="flag-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Loop through each sport -->
    <ion-row *ngFor="let sport of sportsList">
      <ion-col size="12">
        <ion-card class="sport-card">
          <ion-card-content>
            <!-- Image section -->
            <div class="sport-image-container">
              <img [src]="sport.image" alt="{{ sport.name }} Image" class="sport-image"/>
            </div>
            <!-- Icon and Name -->
            <div class="sport-icon-name">
              <ion-icon name="sports-outline"></ion-icon>
              <h2>{{ sport.name }}</h2>
            </div>
            <!-- Coach and Venue Information -->
            <div class="sport-info">
              <p><strong>Coach Name:</strong> {{ sport.coach }}</p>
              <p><strong>Training Venue:</strong> {{ sport.venue }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
